<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="admin-panel-container">
        <div style="text-align:center;">
            <img src="{{ url_for('static', filename='escudo.jpg') }}" alt="Escudo" style="width:60px; margin-bottom:10px;">
            <h2>Panel de administración</h2>
            <hr>
        </div>
        <div style="text-align:center;">
            <a href="{{ url_for('admin_libros') }}"><button>Agregar y ver libros</button></a>
            <a href="{{ url_for('admin_prestamos') }}"><button>Administrar préstamos</button></a>
            <a href="{{ url_for('admin_estadisticas') }}"><button>Ver estadísticas</button></a>
            <a href="{{ url_for('admin_historial') }}"><button>Historial de préstamos</button></a>
            <a href="{{ url_for('logout_admin') }}"><button>Cerrar sesión admin</button></a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>