<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión - Biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <div style="text-align:center;">
            <img src="{{ url_for('static', filename='escudo.jpg') }}" alt="Escudo" style="width:60px; margin-bottom:10px;">
            <h2>Bienvenido a la Biblioteca ENSDB</h2>
            <hr>
        </div>
        <form method="POST">
            <input type="email" name="correo" placeholder="Correo institucional" required>
            <button type="submit">Entrar</button>
        </form>
        <div style="height:20px;"></div>
        <form method="POST" action="{{ url_for('admin_login') }}">
            <button type="submit">Entrar como administrador</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>